<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                  <img src="/img/logo-acbb.png" alt="">
              </a>
            </div>
            {% set routeName = app.request.get('_route') %}
            <!-- {{dump(routeName)}} -->

            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li {% if routeName == 'acbb_homepage' %}class="active"{% endif %}><a href="/">Accueil</a></li>
                <li {% if routeName == 'acbb_club' %}class="active"{% endif %}><a href="#">Le club</a></li>
                <li {% if routeName == 'acbb_news' %}class="active"{% endif %}><a href="/actualites">Actualites</a></li>
                <li {% if routeName == 'acbb_team_team' %}class="active"{% endif %}><a href="/equipes">Equipes</a></li>
                <li {% if routeName == 'acbb_school' %}class="active"{% endif %}><a href="#">Ecole de Hockey</a></li>
                <li><a href="#">Boutique</a></li>
                <li {% if routeName == 'acbb_inscription_inscription' %}class="active"{% endif %}><a href="/inscription">Inscription</a></li>
                <li {% if routeName == 'acbb_faq' %}class="active"{% endif %}><a href="/faq">FAQ</a></li>
                <li {% if routeName == 'acbb_media' %}class="active"{% endif %}><a href="#">Media</a></li>
                <li {% if routeName == 'acbb_contact' %}class="active"{% endif %}><a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
        {% block body %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
