.construction{
	height: 70vh;
	padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
	.construction-item{
		text-align: center;
		.construction-title{
			@include font(20, 24);
			font-weight: bold;
		}
		svg{
			margin-bottom: 50px;
		}
	}
}