{% extends '::base.html.twig' %}
{% block title %}FAQ - ACBB{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
	  <div class="col-md-3"></div>
	  <div class="col-md-6">
	  	<h1 style="margin-top: 50px; text-align: center;">Le fonctionnement de notre club</h1>
	  	<p style="margin-top: 30px; font-size: 16px;"><a style="color: white;" href="#demo" data-toggle="collapse"> Comment fonctionnent les convocations d'équipes ?</a></p>
		<div id="demo" class="collapse">
		    <p>Les convocations d'équipes se font uniquement par Internet.
			Celles-ci sont disponibles dans les news de votre équipe à chaque début de semaine précédent un match de compétition, amical ou de tournoi.</p>
		</div>
		<h1 style="margin-top: 50px; text-align: center;">Les inscriptions</h1>
	  	<p style="margin-top: 30px; font-size: 16px;"><a style="color: white;" href="#q2" data-toggle="collapse"> J'ai 16 ans ou plus et je n'ai jamais fais de hockey. Est-il possible de m'inscrire dans l'une de vos équipe ?</a></p>
		<div id="q2" class="collapse">
		    <p>Oui nous avons une équipe "Loisir" destinée à la formation de novices.
			Un entraîneur qualifié vous suivra à chaque séance afin de vous apprendre les bases du hockey sur glace.</p>
		</div>
			<p style="margin-top: 30px; font-size: 16px;"><a style="color: white;" href="#q3" data-toggle="collapse"> Je souhaiterai inscrire mon enfant, comment faire ?</a></p>
		<div id="q3" class="collapse">
		    <p>En allant dans la rubrique Informations/Inscriptions, vous trouverez de nombreuses informations concernant les modalités d'inscriptions, tarifs, équipement nécessaire, etc.
			Afin de limiter le temps d'attente, nous vous conseillons de télécharger les documents depuis notre site et de les remplir chez vous.
			Nous vous accueillerons dès le début du mois de septembre pour finaliser votre dossier..</p>
		</div>
		  	<p style="margin-top: 30px; font-size: 16px;"><a style="color: white;" href="#q4" data-toggle="collapse"> Les club prête-il des équipements pour les nouveaux inscrits ?</a></p>
		<div id="q4" class="collapse">
		    <p>Oui le club prête uniquement Casques et crosses aux enfants de l'école de hockey.
			Il est possible de louer à chaque séance des patins directement à la patinoire.
			Attention : les gants (obligatoire) et protection des genoux et des coudes (facultatif mais conseillé) ne sont pas à la charge du club.</p>
		</div>
			<p style="margin-top: 30px; font-size: 16px;"><a style="color: white;" href="#q4" data-toggle="collapse"> Les club prête-il des équipements pour les nouveaux inscrits ?</a></p>
		<div id="q4" class="collapse">
		    <p>Oui le club prête uniquement Casques et crosses aux enfants de l'école de hockey.
			Il est possible de louer à chaque séance des patins directement à la patinoire.
			Attention : les gants (obligatoire) et protection des genoux et des coudes (facultatif mais conseillé) ne sont pas à la charge du club.</p>
		</div>
			<p style="margin-top: 30px; font-size: 16px;"><a style="color: white;" href="#q4" data-toggle="collapse"> Les club prête-il des équipements pour les nouveaux inscrits ?</a></p>
		<div id="q4" class="collapse">
		    <p>Oui le club prête uniquement Casques et crosses aux enfants de l'école de hockey.
			Il est possible de louer à chaque séance des patins directement à la patinoire.
			Attention : les gants (obligatoire) et protection des genoux et des coudes (facultatif mais conseillé) ne sont pas à la charge du club.</p>
		</div>
	  </div>
	  <div class="col-md-3"></div>
	</div>
</div>
{% endblock %}