{% extends '::base.html.twig' %}
{% block title %}FAQ - ACBB{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
	  <div class="col-md-3"></div>
	  <div class="col-md-6">
	  	<h2 style="text-align: center;">FAQ</h2>
	  	<h3 style="margin-top: 70px;">Le fonctionnement de notre club</h3>
	  	<p class="faq"><a href="#demo" data-toggle="collapse"> Comment fonctionnent les convocations d'équipes ?</a></p>
		<div id="demo" class="collapse">
		    <p>Les convocations d'équipes se font uniquement par Internet.
			Celles-ci sont disponibles dans les news de votre équipe à chaque début de semaine précédent un match de compétition, amical ou de tournoi.</p>
		</div>
		<h3 style="margin-top: 70px;">Les inscriptions</h3>
	  	<p class="faq"><a href="#q2" data-toggle="collapse"> J'ai 16 ans ou plus et je n'ai jamais fais de hockey. Est-il possible de m'inscrire dans l'une de vos équipe ?</a></p>
		<div id="q2" class="collapse">
		    <p>Oui nous avons une équipe "Loisir" destinée à la formation de novices.
			Un entraîneur qualifié vous suivra à chaque séance afin de vous apprendre les bases du hockey sur glace.</p>
		</div>
			<p class="faq"><a href="#q3" data-toggle="collapse"> Je souhaiterai inscrire mon enfant, comment faire ?</a></p>
		<div id="q3" class="collapse">
		    <p>En allant dans la rubrique Informations/Inscriptions, vous trouverez de nombreuses informations concernant les modalités d'inscriptions, tarifs, équipement nécessaire, etc.
			Afin de limiter le temps d'attente, nous vous conseillons de télécharger les documents depuis notre site et de les remplir chez vous.
			Nous vous accueillerons dès le début du mois de septembre pour finaliser votre dossier..</p>
		</div>
		  	<p class="faq"><a href="#q4" data-toggle="collapse"> Les club prête-il des équipements pour les nouveaux inscrits ?</a></p>
		<div id="q4" class="collapse">
		    <p>Oui le club prête uniquement Casques et crosses aux enfants de l'école de hockey.
			Il est possible de louer à chaque séance des patins directement à la patinoire.
			Attention : les gants (obligatoire) et protection des genoux et des coudes (facultatif mais conseillé) ne sont pas à la charge du club.</p>
		</div>
			<p class="faq"><a href="#q5" data-toggle="collapse"> Les créneaux horaires comprennent-il le temps dans le vestiaire ?</a></p>
		<div id="q5" class="collapse">
		    <p>Non, les créneaux affichés sont ceux du temps de glace.
			Dans toutes les équipes en compétition, il faut prévoir un temps de préparation physique avant chaque début d'entraînement et de match.
			Pour plus d'information, voir avec votre entraîneur ou responsable d'équipe.</p>
		</div>
			<p class="faq"><a href="#q6" data-toggle="collapse"> Mon enfant n'a jamais fait de hockey. Est-il possible de lui faire faire des essais ?</a></p>
		<div id="q6" class="collapse">
		    <p>Oui il est naturellement possible de lui faire faire des essais.
			Nous offrons à chaque nouveaux adhérent 2 séances d'essais en début de saison afin que l'enfant puisse découvrir les sensation de la glace. A l'issu de ces essais, il vous faudra inscrire votre enfant pour que celui-ci puisse remonter sur la glace.</p>
		</div>
			<p class="faq"><a href="#q7" data-toggle="collapse"> Quelle est la différence entre l'équipe "Loisir" et l'équipe "Vieille crosse" ?</a></p>
		<div id="q7" class="collapse">
		    <p>L'équipe "Loisir" est destinée au joueurs débutant. Un entraîneur assiste aux séances afin d'apprendre les bases du hockey tout en s'amusant.
			L'équipe "Vieille crosse" est destinée uniquement aux joueurs confirmés. Il n'y a pas d'entraîneur particulier; juste un responsable d'équipe.
			Si vous souhaitez vous inscrire dans l'une des 2 équipes, rendez-vous à la patinoire à partir de septembre.
			Remarque : il est possible qu'il y ait une liste d'attente selon le nombre de demandes.
			Les adhérents de l'année précédente sont prioritaires par rapport aux nouvelles demandes.</p>
		</div>
	  </div>
	  <div class="col-md-3"></div>
	</div>
</div>
{% endblock %}