{% extends '::base.html.twig' %}
{% block title %}Accueil - ACBB{% endblock %}

{% block body %}
	<div class="intro">
		<h1>Decouvrez le club <br />Boulogne Billancourt</h1>						
	</div>
	<div class="container">
		<div class="last-match">
			<div class="row">
				<div class="col-xs-12 col-sm-4 last-match_img">
					<div class="img-border">
						<img src="/img/tmp/img1.png" alt="">
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 last-match_content">
					<h3>Dernière actualité</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>
		<div class="list-matchs">
			<h3 class="text-center">Les matchs</h3>
			<div class="row">
				<div class="col-sm-4 col-match">
					<div class="date upcoming">12/08/2018</div>
					<p class="match-category">Championnat</p>
					<div class="match-teams">
						<div class="acbb-team" style="background-image: url('/img/logo-acbb.png');"></div>
						<p class="VS">VS</p>
						<div class="other-team" style="background-image: url('/img/logo-other.png');"></div>
					</div>
				</div>
				<div class="col-sm-4"></div>
				<div class="col-sm-4 col-match">
					<div class="date past">{{ match.getDate() }}</div>
					<p class="match-category">{{ match.getCategory() }}</p>
					<div class="match-teams">
						<div class="acbb-team" style="background-image: url('/img/logo-acbb.png');"></div>
						<p class="VS">VS</p>
						<div class="other-team" style="background-image: url('/img/logo-other.png');"></div>
					</div>
				</div>
				<!-- Si pas de matchs afficher ça et cacher le reste :
				<div class="col-sm-12 no-match">
					<p>Aucun match à venir pour le moment</p>
				</div> -->
			</div>
		</div>
		<div class="partners">
			<h3 class="text-center">Les partenaires</h3>
			<div class="row">
				<div class="col-sm-2">
					<a href="https://www.acadomia.fr/" target="_blank"><img src="/img/partners/acadomia.jpg" alt=""></a>
				</div>
				<div class="col-sm-2">
					<a href="https://www.artemiscourtage.com/" target="_blank"><img src="/img/partners/artmenis.png" alt=""></a>
				</div>
				<div class="col-sm-2">
					<a href="http://www.boulognebillancourt.com/cms/index.php" target="_blank"><img src="/img/partners/boulogone.png" alt=""></a>
				</div>
				<div class="col-sm-2">
					<a href="https://www.clairefontaine.com/" target="_blank"><img src="/img/partners/clairefontaine.png" alt=""></a>
				</div>
				<div class="col-sm-2">
					<a href="https://www.go-sport.com/" target="_blank"><img src="/img/partners/gosport.jpeg" alt=""></a>
				</div>
				<div class="col-sm-2">
					<a href="https://hotelacanthe.com/fr/" target="_blank"><img src="/img/partners/hotelachante.jpg" alt=""></a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<a href="https://www.facebook.com/MBMediaConsulting/" target="_blank"><img src="/img/partners/mbmc.jpg" alt=""></a>
				</div>
				<div class="col-sm-2">
					<a href="https://www.mifassur.com/" target="_blank"><img src="/img/partners/moton.jpg" alt=""></a>
				</div>
				<div class="col-sm-2">
					<a href="http://www.supdeweb.com/" target="_blank"><img src="/img/partners/supdeweb.jpg" alt=""></a>
				</div>
				<div class="col-sm-2">
					<a href="https://www.telez.fr/" target="_blank"><img src="/img/partners/telez.png" alt=""></a>
				</div>
				<div class="col-sm-2">
					<a href="https://www.vert-marine.com/" target="_blank"><img src="/img/partners/vertmarine.png" alt=""></a>
				</div>
			</div>
		</div>
		<footer class="footer">
			<p>Copyright 2018 - ACBB Hockey</p>
		</footer>
	</div>
{% endblock %}