{% extends '::base.html.twig' %}
{% block title %}Accueil - ACBB{% endblock %}

{% block body %}
	<div class="home-content">
		<div class="intro">
			<h1>Decouvrez le club <br />Boulogne Billancourt</h1>						
		</div>
	</div>
{% endblock %}