{% extends '::base.html.twig' %}
{% block title %}Accueil - ACBB{% endblock %}

{% block body %}
	<div class="intro">
		<h1>Decouvrez le club <br />Boulogne Billancourt</h1>						
	</div>
	<div class="container">
		<div class="last-match">
			<div class="row">
				<div class="col-xs-12 col-sm-4 last-match_img">
					<div class="img-border">
						<img src="/img/tmp/img1.png" alt="">
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 last-match_content">
					<h3>Dernier match</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>
		<div class="list-matchs">
			<h3 class="text-center">Les matchs</h3>
			<div class="row">
				<div class="col-sm-4 col-match">
					<div class="date upcoming">A venir</div>
					<p class="match-category">Championnat</p>
					<div class="match-teams">
						<div class="acbb-team"></div>
						<p class="VS">VS</p>
						<div class="other-team"></div>
					</div>
				</div>
				<div class="col-sm-4"></div>
				<div class="col-sm-4 col-match">
					<div class="date past">{{ match.getDate() }}</div>
					<p class="match-category">{{ match.getCategory() }}</p>
					<div class="match-teams">
						<div class="acbb-team" style="background-image: url('/img/logo-acbb.png');"></div>
						<p class="VS">VS</p>
						<div class="other-team" style="background-image: url('/img/tmp/logo-other.png');"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}