{% extends '::base.html.twig' %}
{% block title %}Inscription - ACBB{% endblock %}

{% block body %}
<div class="container">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step col-xs-4"> 
                <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                <p>Informations générales</p>
            </div>
            <div class="stepwizard-step col-xs-4"> 
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p>Cotisation</p>
            </div>
            <div class="stepwizard-step col-xs-4"> 
                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                <p>Validation</p>
            </div>
        </div>
    </div>
    
    <form role="form">
    	<p>* champ obligatoire</p>
        <div class="panel panel-primary setup-content" id="step-1">
            <div class="panel-body row">
            	<div class="col-sm-6">
	                <div class="form-group">
	                    <label class="control-label">Prénom / Nom *</label>
	                    <input maxlength="100" type="text" required="required" class="form-control" placeholder="Saisissez votre prénom et votre nom" />
	                </div>
	                <div class="form-group form-radio">
	                    <label class="control-label">Sexe *</label>
						<input type="radio" id="Homme" name="gender">
	    				<label for="Homme">Homme</label>
						<input type="radio" id="Femme" name="gender">
	    				<label for="Femme">Femme</label>
	                </div>
	                <div class="form-group">
	                    <label class="control-label">Adresse *</label>
	                    <input type="text" required="required" class="form-control" placeholder="Saisissez votre adresse" />
	                </div>
                </div>
                <div class="col-sm-6">
	                <div class="form-group">
	                    <label class="control-label">Lieu de naissance *</label>
	                    <input type="date" required="required" class="form-control" placeholder="01/01/1900" />
	                </div>
	                <div class="form-group">
	                    <label class="control-label">Nationalité *</label>
	                    <input type="text" required="required" class="form-control" placeholder="Saisissez votre nationalité" />
	                </div>
	                <div class="form-group">
	                    <label class="control-label">Tel. portable *</label>
	                    <input type="tel" required="required" class="form-control" placeholder="Saisissez votre téléphone portable" />
	                </div>
	                <div class="form-group">
	                    <label class="control-label">Email *</label>
	                    <input type="text" required="required" class="form-control" placeholder="Saisissez votre email" />
	                </div>
	                <div class="form-group">
	                    <label class="control-label">Photo de vous *</label>
	                    <input type="file" required="required" class="form-control" />
	                </div>
                </div>
            </div>
            <button class="btn btn-primary nextBtn pull-right" type="button">Suivant</button>
        </div>
        
        <div class="panel panel-primary setup-content" id="step-2">
            <div class="panel-body row">
                <div class="col-sm-6">
	                <div class="form-group">
	                    <label class="control-label">Type license *</label>
	                    <select required="required" class="form-control">
	                    	<option value="Compétition">Compétition</option>
	                    </select>
	                </div>
	                <div class="form-group">
	                    <label class="control-label">Catégorie *</label>
						<select required="required" class="form-control">
	                    	<option value="U9">U9 - Moustique</option>
	                    	<option value="D3">D3 - Senior D3</option>
		    				<option value="U20">U20 - Junior Excellence</option>
		    				<option value="U17">U17 - Cadet Elite</option>
		    				<option value="U15">U15 - Minime Elite</option>
		    				<option value="U13">U13 - Benjamin Noir</option>
		    				<option value="U11">U11 - Poussin Noir</option>
		    				<option value="U11">U11 - Poussin Gris</option>
		    				<option value="VC">VC - Vieilles Crosses</option>
		    				<option value="LO">LO - Loisir</option>
	                    </select>
	                </div>
	                <div class="form-group form-radio">
	                    <label class="control-label">Assurance *</label>
						<input type="radio" id="baseA" name="assurance">
	    				<label for="baseA">Garantie de base A (0€)</label>
						<input type="radio" id="baseB" name="assurance">
	    				<label for="baseB">Option B (15,91€)</label>
	    				<input type="radio" id="baseC" name="assurance">
	    				<label for="baseC">Option C (21,56€)</label>
	                </div>
                </div>
                <div class="col-sm-6">
	                <div class="form-group">
	                    <p class="price">Tarif indicatif : <span>505 €</span></p>
	                    <p>(Tarif 1ère année ou moins de 8 ans)</p>
	                </div>
                </div>
                <button class="btn btn-primary nextBtn pull-right" type="button">Suivant</button>
            </div>
        </div>
        
        <div class="panel panel-primary setup-content" id="step-3">
            <div class="panel-body row">
                <div class="form-group form-radio">
                    <label for="urgences" class="control-label">Urgences</label>
					<input type="checkbox" id="urgences" name="validate">
    				<label class="checkbox-validate">En cas d'accident, j'autorise les dirigeants du club ou membres mandatés de la section Hockey sur glace de l'ACBB à faire appel aux services de secours d'urgence ou à faire transporter mon enfant dans le centre hospitalier le plus proche. Le responsable d'équipe me contactera aussitôt par téléphone.<br />Si allergique à certains médicaments ou traitements, préciser lesquels :</label>
    				<input type="text" class="form-control">
                </div>
                <div class="form-group form-radio">
                    <label for="antidopage" class="control-label">Antidopage</label>
					<input type="checkbox" id="antidopage" name="validate">
    				<label class="checkbox-validate">Conformément à l'article 7 du décret relatif aux prélèvements et examens autorisés dans les contrôles antidopage, j'autorise que soit effectué sur mon enfant un prélèvement nécessitant un prélèvement sanguin ou salivaire.</label>
                </div>
                <div class="form-group form-radio">
                    <label for="deplacement" class="control-label">Déplacements</label>
					<input type="checkbox" id="deplacement" name="validate">
    				<label class="checkbox-validate">Dans le cas où je suis dans l'impossibilité d'accompagner mon enfant lors de déplacements concernant la section Hockey sur glace (matchs, tournois, stages, compétitions, animations extérieures), je l'autorise à monter dans le véhicule conduit par un tiers (parent, responsable d'équipe ou membre du club).</label>
                </div>
                <div class="form-group form-radio">
                    <label for="dal" class="control-label">Droits à l'image</label>
					<input type="checkbox" id="dal" name="validate">
    				<label class="checkbox-validate">J’autorise la section Hockey sur glace de l'ACBB à afficher des photos ou vidéos où pourrait apparaître distinctement le joueur pour les usages suivants :
    					- Site Internet de la section Hockey sur Glace et autres sites web en relation avec le sport
    					- Mensuel du club ou autres publications sportives
    					- Vitrine du club ou autre support de communication du club. Aucun profit financier lié à l'image du joueur ne pourra être utilisé sans l'accord de celui-ci ou de son tuteur légal.</label>
                </div>
                <div class="form-group form-radio">
                    <label for="ri" class="control-label">Règlement intérieur *</label>
					<input type="checkbox" id="ri" name="validate"><br />
    				<label class="checkbox-validate">En souhaitant adhérer à la section Hockey sur glace de l'ACBB, j'accepte les conditions générales du Règlement Intérieur téléchargeable depuis le site web de la section. </label>
                </div>
                <button class="btn btn-primary pull-right" type="submit">Terminer l'inscription</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
	$(document).ready(function () {

    var navListItems = $('div.setup-panel div a'),
        allWells = $('.setup-content'),
        allNextBtn = $('.nextBtn');

    allWells.hide();

    navListItems.click(function (e) {
        e.preventDefault();
        var $target = $($(this).attr('href')),
            $item = $(this);

        if (!$item.hasClass('disabled')) {
            navListItems.removeClass('btn-success').addClass('btn-default');
            $item.addClass('btn-success');
            allWells.hide();
            $target.show();
            $target.find('input:eq(0)').focus();
        }
    });

    allNextBtn.click(function () {
        var curStep = $(this).closest(".setup-content"),
            curStepBtn = curStep.attr("id"),
            nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
            curInputs = curStep.find("input[type='text'],input[type='tel'],input[type='file'],input[type='date']"),
            isValid = true;

        $(".form-group").removeClass("has-error");
        for (var i = 0; i < curInputs.length; i++) {
            if (!curInputs[i].validity.valid) {
                isValid = false;
                $(curInputs[i]).closest(".form-group").addClass("has-error");
            }
        }

        if (isValid) nextStepWizard.removeAttr('disabled').trigger('click');
    });

    $('div.setup-panel div a.btn-success').trigger('click');
});
</script>
{% endblock %}