{% extends '::base.html.twig' %}
{% block title %}Actualités - ACBB{% endblock %}

{% block body %}
<div class="container">
	<div class="news">
    {% for new in news %}
		<div class="last-match">
			<div class="row">
				<div class="col-xs-12 col-sm-4 last-match_img">
					<div class="img-border">
						<img src="/img/tmp/img1.png" alt="">
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 last-match_content">
					<h3>{{ new.name }}</h3>
					<p>{{ new.content }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
		<nav class="nav-pagination" aria-label="Navigation">
		  <ul class="pagination">
		    <li>
		      <a href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		      </a>
		    </li>
		    <li class="active"><a href="#">1</a></li>
		    <li><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li>
		      <a href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
</div>
{% endblock %}