{% extends '::base.html.twig' %}
{% block title %}En construction - ACBB{% endblock %}
{% block body %}
	<div class="container">
		<div class="construction">
			<div class="construction-item">
				<?xml version="1.0" encoding="UTF-8"?>
				<svg width="78px" height="103px" viewBox="0 0 78 103" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
					<title>Hockey</title>
					<defs></defs>
					<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="Artboard" transform="translate(-12.000000, -4.000000)" fill="#ffffff" fill-rule="nonzero">
							<g id="noun_1405453_cc" transform="translate(12.000000, 4.000000)">
								<path d="M38.4963,81.0000063 C34.0119,81.0018396 29.5941,81.4033395 26.3196,82.1293393 C23.6149,82.7306724 20.0222,83.8343388 20,86.5000047 L20,97.5000016 C20,102.604 34.1599,103 38.5,103 C42.8401,103 57,102.604 57,97.5000016 L57,86.5000047 C57,81.3960061 42.9807,80.9981729 38.4963,81.0000063 Z M38.5592,84.6666719 C45.8889,84.6648385 50.6841,85.6933383 52.6007,86.5000047 C46.9309791,87.8524873 44.4888163,88.3322558 38.5,88.3516708 C32.5111837,88.3711042 26.3492,87.3250045 24.4289,86.518338 C26.3529,85.7080049 31.2295,84.6685052 38.5592,84.6666719 Z" id="Shape">
									<animateTransform
											attributeName="transform"
											attributeType="XML"
											type="translate"
											from="0"
											to="-80"
											begin="2s"
											dur="3s"
											repeatCount="indefinite" />
								</path>
								<path d="M9.96356611,0 L29.4623167,47.6305229 C31.2533951,52.0078569 35.0682075,55.2606374 39.6991607,56.3668758 L72.3374103,64.1398489 C76.2408533,65.0702613 78.6781972,68.9164544 77.8325127,72.802941 L77.0976166,76.2132322 C77.0385295,76.4696451 76.9757494,76.726058 76.8871187,76.9714817 C75.6019738,80.8140118 71.4252528,82.8982822 67.5550463,81.6272069 L36.2130205,71.3413876 C31.0761337,69.6563887 26.9400351,65.8175217 24.9052223,60.843112 L0,0 L9.96356611,0 Z" id="Shape">
									<animateTransform
											attributeName="transform"
											attributeType="XML"
											type="rotate"
											dur="3s"
											from="0 50 50"
											to="30 50 50"
											repeatCount="1" />
								</path>
							</g>
						</g>
					</g>
				</svg>
				<p class="construction-title">Désolé une partie de hockey est en cours...</p>
				<p>Nous allons vous rediriger vers une ancienne page du site celle-ci étant encore en construction.</p>
				<a href="#">Si la redirection ne fonctionne pas, merci de cliquez ici</a>
			</div>
		</div>
	</div>
{% endblock %}